@use '../variables';

.panel {
  display: flex;
  gap: 8px;
  padding: 13px 0;
  @media (max-width: 768px) {
  }

  .panel_button {
    width: 32px;
    height: 32px;
    border: none;
    background-color: white;

    &--chart {
      background-image: url("chart_Icon.svg");
    }

    &--delivery {
      background-image: url("delivery_Icon.svg");
    }

    &--favorites {
      background-image: url("icon_favorites.svg");
    }

    &--login {
      background-image: url("icon_login.svg");
    }

  }
}

.mobile-panel {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 12px 20px 20px;
  background: variables.$Shop-White;
  z-index: 10;

  .panel {
    justify-content: space-around;
  }
}

