.categories {
  display: flex;
  gap: 8px;
  width: 100%;
  overflow: scroll;
  margin-top: 8px;
}
.categories::-webkit-scrollbar {
  display: none;
}

.category-item{
  width: 90px;
}

.category-item__name {
text-align: center;
  font-size: 15px;
  font-weight: 550;
}