@use './variables.scss';

body{
  display: flex;
  font-family: variables.$main-font, sans-serif;
}
#root{
  width: 100%;
}
div {
  box-sizing: border-box;
}
.main-wrapper{
  width: 100%;
  max-width: 1432px;
}